*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
}

body{
  background: black;
}

aside, section, footer, nav{
  background: darkgray;
  border-radius: 5px;
}

nav{
  height: 40px;
}

footer{
  height: 80px;
}

main{
  padding: 5px 0px;
  min-height: calc(100vh - 120px);
}